#main {
    padding: 50px;

    text-align: center;
    color: white;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;

}

label {
    font-size: 70px;
    color: orangered;
}

#lap {
    margin-right: 30px;
}

#start {
    margin-left: 30px;
}